@media only screen and (max-width: 768px) {
  :root {
    background: linear-gradient(var(--cream-white) 70%, var(--cream) 30%);
  }

  h1 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.78px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.42px;
  }

  h6 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.09px;
  }

  p.quote {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
  }

  button {
    font-size: 16px;
  }

  .wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .hero {
    flex-direction: column;
  }

  .hero-banner {
    width: 100%;
  }

  .hero-text {
    background: url(./assets/image-hero-portrait.webp) no-repeat right;
    background-size: contain;
    padding-bottom: 50px;
  }

  .hero-text img {
    transform: translate(97%, 30px);
    width: 33%;
  }

  .stats {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    text-align: center;
  }

  .stats > div {
    margin-top: 0;
  }

  .testimonial .container {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .testimonial .rectangle {
    height: calc(100% - 180px);
    bottom: 0;
  }

  .oval {
    bottom: 40px;
    left: 0;
    width: 240px;
    height: 240px;
    filter: blur(45px);
  }

  .testimonial-image img {
    width: 252px;
  }

  .swoosh img {
    margin-top: 40px;
    transform: translateY(0);
    width: 90%;
  }

  .testimonial-text {
    width: 82%;
    margin-bottom: 60px;
  }

  .mt-large {
    margin-top: 110px;
  }
}

@media only screen and (max-width: 377px) {
  .wrapper {
    width: 100%;
  }

  header,
  .hero {
    padding: 10px;
  }

  h1 {
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.53px;
  }

  main {
    margin-top: 0 !important;
  }

  .hero-text {
    background: none;
    padding-bottom: 40px;
  }

  .hero-text img {
    transform: translate(105%, 30px);
    width: 44%;
    margin-top: 0;
  }

  .hero-img {
    display: block;
  }

  .hero-img img {
    width: 100%;
  }

  .stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .stats > div {
    margin: 20px 0;
  }

  footer {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }

  .copyright {
    margin: 30px 0;
  }

  .mt-large {
    margin-top: 60px;
  }
}
